<!-- Update model from html transindex.html -->
<div class="modal fade" id="mymodelbody" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<form id ="modelForm" method="POST" action="/transaction/tsave/{{transactionid}}">
    {% csrf_token %}
    <div class="form-group">
        <label for="recipient-name" class="control-label">Transaction Title:</label>
        <input type="text" class="form-control" name="txname" id="txname" value="{{ form.txname.value|default_if_none:'' }}">
        <p id="validationmsg" style="color:red;font-weight: 20px;"></p>
    </div>
    <div class="form-group">
        <label for="message-text" class="control-label">Transaction Description:</label>
        <textarea class="form-control" name="txdescription">{{form.txdescription.value}}</textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="sumbit" class="btn btn-success">Save</button>
    </div>
    </form>


 <script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

  })
</script>