{% load static %}
<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#stageTab" aria-controls="epostTab" role="tab" data-toggle="tab">Stage</a>

        </li>
        <li role="presentation"><a href="#stageButtonTab" aria-controls="stageButtonTab" role="tab" data-toggle="tab">Buttons</a>

        </li>
    </ul>
    <!-- Tab panes -->
    <form id="stageadd">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="stageTab">
                
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Stage Name*:</label>
                            <input type="text" class="form-control" id="stage_name" name="stage_name" value="{{ stageform.stage_name.value|default_if_none:'' }}" required> 
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Choose Role</label>
                                    {{stageform.role}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label for="message-text" class="control-label">Status Process Type</label>
                                        {{stageform.status_process_type}}                            
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label for="message-text" class="control-label">Status Process</label>
                                        {{stageform.status_process}}                            
                                </div>
                            </div>
                        </div>   
                        <div>
                            <input type="hidden" class="form-control" id="choosed_status_process" name="choosed_status_process" value="{{ stageform.choosed_status_process.value|default_if_none:'' }}">
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Action Event</label>
                                    <!-- {{stageform.action_event}}     -->
                                    <textarea class="form-control" name="action_event" id="action_event" rows="3" required>{{ stageform.action_event.value|default_if_none:'' }}</textarea>                        
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message</label>
                                    <!-- {{stageform.message}} -->
                                    <textarea class="form-control" name="message" rows="3" required>{{ stageform.message.value|default_if_none:'' }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Basic Id Field </label>
                                    {{stageform.basicid_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>User Name Field</label>
                                    {{stageform.user_field }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From Date Field</label>
                                    {{stageform.from_date}}
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>To Date Field</label>
                                    {{stageform.to_date }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" class="form-control" name="notification" id="notification" value="{{notificationid}}">
                        </div> 
                        
                        <div>
                            <input type="hidden" class="form-control" id="notificationstageid" value="{{notificationstageid}}">
                        </div> 

                    </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="stageButtonTab">
                {% csrf_token %}
                <div class="modal-body">
                    
                    <div id="MapError">
                    </div>
                    <table class="table table-striped table-bordered" id="buttonTable">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>Button Name*</th>
                                <th> Referred Stage</th>
                                <th>Delete</th>  
                            </tr>
                        </thead>
                        <tbody>  
                            {{ formset.management_form }}
                            {% for form in formset %}
                            {{form.id}} 
                                <tr>
                                    <td>{{form.button_name}}</td>
                                    <td>{{form.stage}}</td>
                                    {% if formset.can_delete %}
                                        <td> {{form.DELETE}}</td>
                                    {% else %}
                                        <td></td>                                    
                                    {% endif %}   
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $('#stageButtonTab tbody > tr').formset({
        prefix: '{{ formset.prefix }}',
        deleteText:'<i class="fa fa-trash" style="color:red;"></i>',
        addText:'<i class="fa fa-plus">Add</i>'
        });
    })
</script>

<!-- <script src="{% static 'mainjs/viewjs/view.js' %}"></script>  -->
<script src="{% static 'mainjs/notificationjs/notification.js' %}"></script>