<!-- Update model from html transindex.html -->
<div class="modal fade" id="compbody" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

    <table class="table table-bordered table-striped " id="modeltab" style="border:1px solid lightblue">
 <thead>
          <tr style="background: lightskyblue;">
            <th>Component Name</th>
            <th>Component Type</th>
            <th>Db column</th>
            <th>Save</th>
          </tr>
        </thead>
          <tbody id=bodyCal>
          </tbody>
</table>