{% extends 'tempmain.html' %}
{% load static %}
{% block navbarRight %}

<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        
        <li>
            <a href="#" data-toggle="control-sidebar">{{project_title}}</a>
        </li>
        
        <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Switch Project
                <ul class="dropdown-menu">
                
                    <li class="dropdown-item" style="height:45px;padding: 10px;text-align: center;">
                        <h4>Avaliable Projects</h4>
                    </li>
                    {% if projectselect %}
                    {% for selection in projectselect %}
                        <li class="header">
                            <a href="/transaction/switchproject/{{selection.project_id_id}}">
                                <h4>
                                    <img src="{% static 'maincss/img/folder.png' %}" class="img-circle" alt="User Image" />
                                    &nbsp;  &nbsp;&nbsp;{{selection.project_id.title}}
                                </h4>
                            </a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </a>
        </li>
            
             
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'maincss/images/user.png' %}" style="background: white;width:20px;height:20px;" class="img-circle" alt="User Image">
              <span class="hidden-xs">{{element.userid}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
                <li class="user-header">
                    <img src="{% static 'maincss/images/user.png' %}" style="background: white" class="img-circle" alt="User Image">

                    <p>
                    {{element.userid}}
                    </p>
                </li>
              <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-right">
                    <a href="{% url 'signout' %}" class="btn btn-default btn-flat" style="background: none;border: none;"><button type="button" class="btn btn-block btn-danger">Sign Out</button></a>
                    </div>
                </li>
            </ul>
        </li>
        
        <!-- Control Sidebar Toggle Button -->
          
          
        <li class="dropdown user user-menu">
            
            <a id="syncMaster"><i class="fa fa-gears" ></i></a> 
         
        </li>

    </ul>
</div>
{% endblock navbarRight %}

{% block sidemenu  %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu tree" data-widget="tree">

    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
     <li class="treeview">
        <a href="/rolesetup/roleindex">
            <i class="fa fa-cogs"></i> <span>Role Setup</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/transaction/enumlist/">
            <i class="fa fa-map-o"></i> <span>Enum List</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-sign-in"></i> 
            <span>Login</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i> 
            </span>
        </a>

        <ul class="treeview-menu">
            <li><a href="/logintemplate/loginindex/"><i class="fa fa-circle-o"></i> Design login Page</a></li>
            <li><a href="/logintemplate/serverconfig/"><i class="fa fa-circle-o"></i> Server Config</a></li>
        </ul>
    </li>
   
    <li class="treeview">
        <a href="/hometemplate/pagecomponent/">
            <i class="fa fa-sticky-note-o"></i> <span>HomePage</span>
        </a>
    </li>
    
    <li class="treeview">
        <a href="{% url 'transindex' %}">
            <i class="fa fa-file-text"></i>
            <span>Transaction</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/reportview/repoviewdetails/">
            <i class="fa fa-desktop"></i> <span>ReportView</span>
        </a>
    </li>

    <li class="active">
        <a href="/syncmaster/configurations/">
            <i class="fa fa-refresh"></i> <span>Sync Configurations</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/notification/notificationindex/">
            <i class="fa fa-bell-o"></i> <span>Notification Configuration</span>
        </a>
    </li>   
    <li class="treeview">
        <a href="/printformat/printformatindex/">
            <i class="fa fa-print"></i> <span>PrintFormat Configuration</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/eventconfiguration/mapTxnFields/">
            <i class="fa fa-calendar"></i> <span>Event Configuration</span>
        </a>
    </li>
</ul>
{% endblock sidemenu %}
{% block maincontent %}
<section>
   <div id="divErrorMessages"></div>
   <div id="divResults">
   </div>
</section>
<section class="content-header">
   <h1>
      Sync Master Configurations
   </h1>
   <ol class="breadcrumb">
      <li><a href="/transaction/transmain/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"> Sync Configurations</li>
   </ol>
</section>
<!-- /.label above user -->
<div class="col-lg-12 col-xs-4" style="margin:20px 0 0 0;">
   <!-- small box -->
</div>
<!-- /.box-header -->
<div class="box-body">
   <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div class="box">
               <div class="box-header">
                  <div class="col-lg-10 col-xs-2">
                     <h3 class="box-title">Table Mapping</h3>
                  </div>
                  <button type="button" style="width:80px;" data-toggle="modal" data-target="#exampleModal" data-whatever="" class="btn bg-blue selectedit">Add New</button>
                  <!--  Model content for transcation add -->
                  <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="exampleModalLabel">Table Mapping</h4>
                           </div>
                            <section>
                                <div id="divErrorTableInfo"></div>
                                <div id="divResultTableInfo"></div>
                            </section>
                           <form id="tableMapForm">
                              {% csrf_token %}
                              <div class="modal-body">
                                 <div class="form-group">
                                    <label for="recipient-name" class="control-label">Source Table</label>
                                    {{form.sourcetable}}
                                    <p id="validationmsg" style="color:red;font-weight: 20px;"></p>
                                 </div>
                                 <div class="form-group">
                                    <label for="message-text" class="control-label">Target Table</label>
                                    {{form.targettable}}
                                 </div>
                                 <div class="form-group">
                                    <label>Url</label>
                                    <input type="text" class="form-control" id="host" name="url" value="{{ form.url.value|default_if_none:''}}">
                                 </div>
                                 <div class="form-group">
                                    <label>Dependson</label>
                                    <input type="text" class="form-control" id="host" name="dependson" value="{{ form.dependson.value|default_if_none:''}}">
                                 </div>
                                 <div class="form-group">
                                    <label>Order No</label>
                                    <input type="number" class="form-control" id="host" name="orderno" value="{{ form.orderno.value|default_if_none:''}}">
                                 </div>
                                 <div class="form-group">
                                    <label>Where Condition</label>
                                    <input type="text" class="form-control" id="WHERECON" name="WHERECON" value="{{ form.WHERECON.value|default_if_none:''}}">
                                </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="addtablemap">Save</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.box-header -->
               <div class="box-body table-responsive">
                  {% if synctable %}
                  <table id="sync_tb" class="table table-bordered table-striped" style="border:1px solid lightblue">
                     <thead>
                        <tr class="bg-light-blue">
                           <th>Source Table</th>
                           <th>Target Table</th>
                           <th>Edit</th>
                           <th>Delete</th>
                           <th>configurations</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for sync in synctable %}
                        <tr>
                           <td>{{sync.sourcetable}}</td>
                           <td>{{sync.targettable}}</td>
                           <td>
                              <button type="button" class="btn bg-olive btn-xs edit" data-toggle="modal" value="Edit" data-target="#viewModal" id="edit_button" data-tmapid={{sync.id}}><i class="glyphicon glyphicon-pencil"></i>
                              </button>
                           </td>
                           <td>
                              <a href="/syncmaster/tablemapdelete/{{sync.id}}" data-confirm="Are you sure you want to delete?"><button type="button" class="btn btn-danger btn-xs" ><i class="glyphicon glyphicon-trash"></i></button></a>
                           </td>
                           <td>
                              <button type="button" class="btn bg-navy btn-xs" data-toggle="modal" data-target="#confModal" id="conf_button" data-tmapid={{sync.id}}><i class="glyphicon glyphicon-cog"></i>
                              </button>
                           </td>
                        </tr>
                        {% endfor %}               
                     </tbody>
                  </table>
                  {% else %}
                  <div class="box-body">
                     <strong>Alert! </strong>No Record Found.
                  </div>
                  {% endif %}
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="false">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: #ecf0f5">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title" id="lineModalLabel">Column Mapping Configuration</h3>
               </div>
               <div class="modal-body">
                  <!-- content goes here -->
               </div>
            </div>
         </div>
      </div>
      <!-- Button trigger modal -->
      <div class="modal fade bs-example-modal-lg" id="confModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="false">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: #ecf0f5;">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 class="modal-title" id="myModalLabel">Column Mapping Configuration</h3>
               </div>
               <!-- START OF MODAL BODY-->
               <div class="modal-body" id="confmodelbody">          
               </div>
               <!-- END OF APPLICATION FORM MODAL BODY -->
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
         <!--Modal for adding column map-->
         <div class="modal" id="column-mapping"  role="dialog" aria-labelledby="column-mapping-title" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="column-mapping-title">Adding Column Mapping</h4>
                  </div>
                  <div class="modal-body" id ="coulmnmodalbody">
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         
         <div class="modal" id="editcolumn-mapping"  role="dialog" aria-labelledby="editcolumn-mapping-title" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="column-mapping-title">Edit Column Mapping</h4>
                  </div>
                  <div class="modal-body" id ="editcoulmnmodal">
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
      </div>
   </section>
   <!-- /.content -->
   <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel1" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h3 class="modal-title" id="lineModalLabel">Update Table Mapping</h3>
            </div>
            <section>
                <div id="divErrorEditTableInfo"></div>
                <div id="divResultEditTableInfo"></div>
            </section>
            <div class="modal-body" id="viewmodelbody">
               <!-- content goes here -->
            </div>
         </div>
      </div>
   </div>
   <!-- /.box-body -->   
</div>
<div id="dataConfirmModal1" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"><p>Are you sure you want to delete?</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><button type="button" class="btn btn-primary" id="dataConfirm">OK</button></div></div></div></div>
<div class="example-modal" >
   <div class="modal" id="processing-modal" role="dialog" aria-hidden="true" data-backdrop="false">
      <div align="center" class="cssload-fond" style="margin:300px 0 0 0;">
         <div id="floatingBarsG">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
         </div>
         <h3 style="color:white">Please Wait...</h3>
      </div>
   </div>
</div>
<script src="{% static 'maincss/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'maincss/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
   $(document).ready(function() {
    $("#processing-modal").modal('show');
      setTimeout(function() {
        $("#processing-modal").modal('hide');  
      },300);
      $('a[data-confirm]').click(function(ev) {
        var href = $(this).attr('href');
        if (!$('#dataConfirmModal').length) {
          $('body').append('<div id="dataConfirmModal" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div></div></div>');
        } 
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('href', href);
        $('#dataConfirmModal').modal({show:true});
        return false;
      });
      });
</script>
<script>
   $(function() {
       $('#sync_tb').DataTable({
        stateSave: true
       });
   });
     $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
  });
</script>
<script src="{% static 'mainjs/synjs/syn.js' %}"></script> 
{% endblock maincontent %}